@charset "UTF-8";

/* Fontes externas */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* Título */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/* Texto */

/* Variáveis CSS */
:root {
    --cor1: #e8e8e8;
    /* fontes */
    --cor2: #a1a1a1;
    /* cartão */
    --cor3: #434343;
    /* menu, rodapé, cartão */
    --cor4: #173261;
    /* botão */
    --cor5: #FFF;
    --cor6: #000;

    --titulo: 'Righteous', 'sans-serif';
    --texto: 'Poiret One', 'sans-serif';
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* ou pode ser encontrado dessa forma: "border: 0;" */
}

body {
    background: #929292;
}

/* Layout */
.container {
    margin: 0 auto;
    background: #cecece;
}

#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
    background: #173261;
}

/* Smartphone portrait (em pé) */
/* Cabeçalho */
header {
    height: 60px;
}

#check {
    display: none;
}

label {
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 15px;
}

nav ul {
    list-style: none;
    background: var(--cor3);
    height: 100vh;
    position: fixed;
    top: 60px;
}

nav ul li {
    padding: 20px;
    border-bottom: var(--cor2) 1px solid;
}

nav ul li a {
    text-decoration: none;
    color: var(--cor1);
    font-family: var(--texto);
}

#check:checked ~ ul {
    right: 0;
}

/* Smartphone landscape (deitado) */
@media (min-width: 576px) {
    body {
        background: rgb(185, 166, 130);
    }

    .container {
        max-width: 540px;
    }
}

/* Tablet portrait */
@media (min-width: 768px) {
    body {
        background: rgb(130, 185, 159);
    }

    .container {
        max-width: 720px;
    }
}

/* Tablet landscape */
@media (min-width: 992px) {
    body {
        background: rgb(156, 130, 185);
    }

    .container {
        max-width: 960px;
    }
}

/* PC */
@media (min-width: 1200px) {
    body {
        background: rgb(130, 163, 185);
    }

    .container {
        max-width: 1140px;
    }

    /* Cabeçalho */
    header {
        height: 125px;
    }
    .logo img {
        margin-top: 30px;
        margin-left: 30px;
    }
}