@charset "UTF-8";

@font-face {
    font-family: titulo;
    src: url(fontes/bubblegum-sans-regular.otf);
    font-weight: normal;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* ou pode ser encontrado dessa forma: "border: 0;" */
}

/* Variáveis - quando criadas no root podem ser utilizadas em qualquer parte do site */
:root {
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #FFF;
    --cor7: #000;

    --fonte-titulo: 'titulo';
}

body {
    background: var(--cor1);
}

#interface {
    background: var(--cor6);
    max-width: 1200px;
    /* margin: 10px 5px 2px 8px; - superior direita inferior esquerda - ordena em sentido horário*/
    margin: 0 auto; /* com o ajuste em duas opções, 0 fica para superior e inferior e auto fica para direita e esquerda */
}

.topo {
    height: 70px;
}

.logo img {
    margin: 10px 20px;
    position: absolute; /* absolute pode deixar o logo em qualquer lugar do site e posição relative pode ficar só na area do cabeçalho*/
}

.menu {
    background: red;
    display: block;
    position: absolute;
    width: 800px;
    left: 800px;
}

.menu ul {
    list-style: none; /* Para tirar a bolinha do início de cada item do menu */
    margin: 0px;
    padding: 0px;
}

.menu li {
    float: left; /* Para alinhar os itens do menu um ao lado do outro */
}
